= link_to "Create message", new_message_path
%h1 Messages

- unless @messages.any?
  %h2 not a single yet
- else
  - @messages.each do |m|
    %div.message
      = m.person.name
      = m.person.email
      %br
      %b= m.subject
      %br
      = m.contents
      %hr
