%h1 New Message

= form_for @message_info, url: { controller: "messages", action: "create" } do |f|

  - if @message_info.errors.any?
    %ul.errors
      - @message_info.errors.full_messages.each do |e|
        %li= e.inspect

  = f.label :name
  = f.text_field :name

  = f.label :email
  = f.text_field :email

  = f.label :subject
  = f.text_field :subject

  = f.label :contents
  = f.text_area :contents

  = f.submit "Send"
