%h1 New Message

= form_for @message do |f|
  = f.label :name
  = f.text_field :name

  = f.label :email
  = f.text_field :email

  = f.label :subject
  = f.text_field :subject

  = f.label :contents
  = f.text_area :contents

  = f.submit "Send"
